<div class="container">
   <div class="left-container">
      <div class="map-container"  
         leaflet
         [leafletOptions]="options"
         (leafletMapReady)="onMapReady($event)"
         (leafletClick)="mapClicked($event)"> 
      </div>
      <div class="filter-container">
         <div class="filter">
               <button class="button" (click)="switchLayer($event)" id="temperature">
                  <img src="../../assets/icons/home-icon.png" alt="Home" id="temperature" style="width: 5rem;">
               </button> 
         </div>
      </div>
   </div>
   <div class="weather-info">
      <div class="container-top-half">
         <h1 class="location">{{ weatherInfo.location }}</h1>
         <h2 class="date-time">{{ weatherInfo.date }} | {{ weatherInfo.time }}</h2>
         <img src="{{ weatherInfo.image }}" alt="weather-icon" class="weather-icon">
         <div class="temp-container">
         <h1 class="temp">{{ weatherInfo.temperature }}°</h1>
         <span *ngIf="measurement == 'metric'">C</span>
         <span *ngIf="measurement == 'imperial'">F</span>
         </div>
         <div class="weather-descriptor">{{ weatherInfo.weather_descriptor }}</div>
      </div>
      <div class="container-bottom-half">
         <!-- Hourly Box -->
         <div class="time-slots">
            <!-- Now -->
            <div class="slot">
               <h1>Now</h1>
               <img src="{{ weatherInfo.image }}" alt="weather-icon">
               <h2>{{ weatherInfo.temperature }}°</h2>
            </div>
            <!-- 1 hour ahead -->
            <div class="slot">
               <h1>{{ hourInfo.hour[0].time }}</h1>
               <img src="{{ hourInfo.hour[0].img }}" alt="weather-icon">
               <h2>{{ hourInfo.hour[0].weather }}°</h2>
            </div>
            <!-- 2 hour ahead -->                  
            <div class="slot">
               <h1>{{ hourInfo.hour[1].time }}</h1>
               <img src="{{ hourInfo.hour[1].img }}" alt="weather-icon">
               <h2>{{ hourInfo.hour[1].weather }}°</h2>
            </div>
            <!-- 3 hour ahead -->
            <div class="slot">
               <h1>{{ hourInfo.hour[2].time }}</h1>
               <img src="{{ hourInfo.hour[2].img }}" alt="weather-icon">
               <h2>{{ hourInfo.hour[2].weather }}°</h2>
            </div>
            <!-- 4 hour ahead -->
            <div class="slot">
               <h1>{{ hourInfo.hour[3].time }}</h1>
               <img src="{{ hourInfo.hour[3].img }}" alt="weather-icon">
               <h2>{{ hourInfo.hour[3].weather }}°</h2>
            </div>
            <!-- 5 hour ahead -->
            <div class="slot">
               <h1>{{ hourInfo.hour[4].time }}</h1>
               <img src="{{ hourInfo.hour[4].img }}" alt="weather-icon">
               <h2>{{ hourInfo.hour[4].weather }}°</h2>
            </div>
            <!-- 6 hour ahead -->
            <div class="slot">
               <h1>{{ hourInfo.hour[5].time }}</h1>
               <img src="{{ hourInfo.hour[5].img }}" alt="weather-icon">
               <h2>{{ hourInfo.hour[5].weather }}°</h2>
            </div>
            <!-- 7 hour ahead -->
            <div class="slot">
               <h1>{{ hourInfo.hour[6].time }}</h1>
               <img src="{{ hourInfo.hour[6].img }}" alt="weather-icon">
               <h2>{{ hourInfo.hour[6].weather }}°</h2>
            </div>
            <!-- 8 hour ahead -->
            <div class="slot">
               <h1>{{ hourInfo.hour[7].time }}</h1>
               <img src="{{ hourInfo.hour[7].img }}" alt="weather-icon">
               <h2>{{ hourInfo.hour[7].weather }}°</h2>
            </div>
            <!-- 9 hour ahead -->
            <div class="slot">
               <h1>{{ hourInfo.hour[8].time }}</h1>
               <img src="{{ hourInfo.hour[8].img }}" alt="weather-icon">
               <h2>{{ hourInfo.hour[8].weather }}°</h2>
            </div>
            <!-- 10 hour ahead -->
            <div class="slot">
               <h1>{{ hourInfo.hour[9].time }}</h1>
               <img src="{{ hourInfo.hour[9].img }}" alt="weather-icon">
               <h2>{{ hourInfo.hour[9].weather }}°</h2>
            </div>
            <!-- 11 hour ahead -->
            <div class="slot">
               <h1>{{ hourInfo.hour[10].time }}</h1>
               <img src="{{ hourInfo.hour[10].img }}" alt="weather-icon">
               <h2>{{ hourInfo.hour[10].weather }}°</h2>
            </div>
            <!-- 12 hour ahead -->
            <div class="slot">
               <h1>{{ hourInfo.hour[11].time }}</h1>
               <img src="{{ hourInfo.hour[11].img }}" alt="weather-icon">
               <h2>{{ hourInfo.hour[11].weather }}°</h2>
            </div>
         </div>         
      </div>
   </div>
</div>