@import "~leaflet/dist/leaflet.css";

.container{
    min-height: 40rem;
    height: 40rem;
    min-width: 90%;
    padding: 1rem;
}

.map-container{
    width: calc(50% - 2rem);
    height: 400px;

    box-shadow: -5px 5px rgba(0, 0, 0, 0.2);
    background-color: #242b54;
    border-radius: 1rem;
}