
@media only screen and (max-width: 900px) {
   .container{
      flex-direction: column !important;  
   }

   .container .left-container{
      width: 100%;
   }

   .container .weather-info{
      width: 100%;
      margin-left: 0;
      margin-top: 1rem;
   }
}

.container{
   min-height: 40rem;
   padding: 1rem;
   width: calc(100% - 1rem);

    display: flex;
    flex-direction: column;
}

.top{
   width: 100%;
   display: inline-flex;
   flex-direction: row;
}

.bottom{
   width: 100%;
   padding-top: 1rem;
}

.left-container{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.filter-container{
   margin-top: 1rem;
   padding: .5rem;

   box-shadow: -5px 5px rgba(0, 0, 0, 0.2);
   background-color: #38427b;
   border-radius: 1rem;

   display: flex;
   gap: .5rem;
   justify-content: center;
}

.button{
   border-radius: .5rem;
   background-color: #8aaffb;
   width: auto;
}

.map-container{
    height: 400px;

    box-shadow: -5px 5px rgba(0, 0, 0, 0.2);
    background-color: #38427b;
    border-radius: 1rem;
}

.weather-info{
   float: right;
   width: 46.5rem;
   height: fit-content;
   padding-bottom: .5rem;
   
   margin-left: 1rem;

   box-shadow: -5px 5px rgba(0, 0, 0, 0.2);
   background-color: #38427b;
   border-radius: 1rem;

   display: flex;
   flex-direction: column;
}

.container-top-half{
   width: 100%;
   padding: 0px;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.container-bottom-half{
   width: calc(100% - .5rem);
}

.location{
   padding: 0;
   margin: 20px 0px 0px 0px;
   text-align: center;

   font-size: 40px;
}

.timestamp{
   margin: 0;
   margin-top: .5rem;
   position: absolute;
   left: 6.5rem;

   font-size: small;
}

.date-time{
   padding: 0;
   margin: 0;

   font-size: 14px;
}

.weather-icon{
   width: 200px;
}

.temp-container{
   border: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0 0 0 .85rem;
   padding: 0;

   font-size: 2rem;
   font-weight: 500;
   letter-spacing: -.5px;

   position: relative;
}

.temp-container span{
   font-size: 18px;
   position: absolute;
   left: 3.25rem;
   top: .75rem;
}

.weather-descriptor{
   position: relative;
}

.time-slots{
   padding: .3rem;

   width: 100%;
   height: fit-content;

   overflow-x: auto;
   white-space: nowrap;

   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: 1fr;
   grid-auto-flow: column;
   gap: 10px;
}

.time-slots::-webkit-scrollbar {
   display: none;
}

.slot{
   font-size: 7px;
   padding: 10px;
   min-width: 7rem;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

   background-image: radial-gradient(circle, #8fb9f8, #8aaffb, #8ba5fd, #8f99fd, #988cfb);
   box-shadow: -5px 5px rgb(0 0 0 / 0.2);
   border-radius: 10px;
}

.slot img{
   width: 3rem;
}

.slot h2{
   font-size: 20px;
   position: relative;
   right: -8px;
}

.favourite-container{
   height: 10rem;
   width: 98%;

   background-color: #38427b;
   border-radius: 1rem;
   box-shadow: -5px 5px rgb(0 0 0 / 0.2);
}