@media only screen and (max-width: 900px) {
   .main{
      display: flex;
      flex-flow: column;
   }

   .wrape .search-bar{
      height: 3.4rem;
   }
}

.nav-bar .nav-bar-component{
   height: 100%;
}

.search-bar{
   display: grid;
   height: 4rem;

   padding: 12px 10px 0px 10px;
}

.main{
   padding: 0%;
   min-height: calc(100% - 4rem);

   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}