<div class="search-bar">
   <app-search-bar></app-search-bar>
</div>
<div class="main">
   <div class="left-half">
      <div class="middle-line"></div>
      <div class="container-top-half">
         <h1 class="location">{{ location }}</h1>
         <h2 class="date-time">{{ date }} | {{ time }}</h2>
         <img src="{{ image }}" alt="weather-icon" class="weather-icon">
         <h1 class="temp">{{ temperature }}°</h1>
         <div class="weather-descriptor">{{ weather_descriptor }}</div>
      </div>
      <div class="container-bottom-half">
         <div class="square-box">
            <div class="left-half-data">
               <p>Feels like </p> <p class="value"> {{ feelsLike }}</p>
               <p>Humidity </p> <p class="value"> {{ humidity }} </p>
               <p>UV Index </p> <p class="value"> {{ uvIndex }} </p>
            </div>
            <div class="right-half-data">
               <p>Visibility </p> <p class="value"> {{ visibility }} </p>
               <p>Wind </p> <p class="value"> {{ wind }} </p>
               <p>Precipitation </p> <p class="value"> {{ precipitation }} </p>
            </div>
            <div class="time-slots">
               <div class="slot">
                  <h1>Now</h1>
                  <img src="{{ image }}" alt="weather-icon">
                  <h2>{{ temperature }}°</h2>
               </div>
               <div class="slot">
                  <h1>{{ hourInfo.hour[0].time }}</h1>
                  <img src="{{ hourInfo.hour[0].img }}" alt="weather-icon">
                  <h2>{{ hourInfo.hour[0].weather }}°</h2>
               </div>
               <div class="slot">
                  <h1>{{ hourInfo.hour[1].time }}</h1>
                  <img src="{{ hourInfo.hour[1].img }}" alt="weather-icon">
                  <h2>{{ hourInfo.hour[1].weather }}°</h2>
               </div>
               <div class="slot">
                  <h1>{{ hourInfo.hour[2].time }}</h1>
                  <img src="{{ hourInfo.hour[2].img }}" alt="weather-icon">
                  <h2>{{ hourInfo.hour[2].weather }}°</h2>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="right-half">
      <!-- day 1 -->
      <div class="day-slot">
         <div class="date-time">
            <p>{{ dayInfo.day[0].date }}</p>
            <img src="{{ dayInfo.day[0].img }}">
            <h1>{{ dayInfo.day[0].weather }}</h1>
         </div>
         <div class="min-max">
            <p>{{ dayInfo.day[0].min }}°</p>
            <div class="gradient-box"><div class="gradient"></div></div>
            <p class="p-max">{{ dayInfo.day[0].max }}°</p>
         </div>
      </div>
      <!-- day 2 -->
      <div class="day-slot">
         <div class="date-time">
            <p>{{ dayInfo.day[1].date }}</p>
            <img src="{{ dayInfo.day[1].img }}">
            <h1>{{ dayInfo.day[1].weather }}</h1>
         </div>
         <div class="min-max">
            <p>{{ dayInfo.day[1].min }}°</p>
            <div class="gradient-box"><div class="gradient"></div></div>
            <p class="p-max">{{ dayInfo.day[1].max }}°</p>
         </div>
      </div>
      <!-- day 3 -->
      <div class="day-slot">
         <div class="date-time">
            <p>{{ dayInfo.day[2].date }}</p>
            <img src="{{ dayInfo.day[2].img }}">
            <h1>{{ dayInfo.day[2].weather }}</h1>
         </div>
         <div class="min-max">
            <p>{{ dayInfo.day[2].min }}°</p>
            <div class="gradient-box"><div class="gradient"></div></div>
            <p class="p-max">{{ dayInfo.day[2].max }}°</p>
         </div>
      </div>
      <!-- day 4 -->
      <div class="day-slot">
         <div class="date-time">
            <p>{{ dayInfo.day[3].date }}</p>
            <img src="{{ dayInfo.day[3].img }}">
            <h1>{{ dayInfo.day[3].weather }}</h1>
         </div>
         <div class="min-max">
            <p>{{ dayInfo.day[3].min }}°</p>
            <div class="gradient-box"><div class="gradient"></div></div>
            <p class="p-max">{{ dayInfo.day[3].max }}°</p>
         </div>
      </div>
      <!-- day 5 -->
      <div class="day-slot">
         <div class="date-time">
            <p>{{ dayInfo.day[4].date }}</p>
            <img src="{{ dayInfo.day[4].img }}">
            <h1>{{ dayInfo.day[4].weather }}</h1>
         </div>
         <div class="min-max">
            <p>{{ dayInfo.day[4].min }}°</p>
            <div class="gradient-box"><div class="gradient"></div></div>
            <p class="p-max">{{ dayInfo.day[4].max }}°</p>
         </div>
      </div>
      <!-- day 6 -->
      <div class="day-slot">
         <div class="date-time">
            <p>{{ dayInfo.day[5].date }}</p>
            <img src="{{ dayInfo.day[5].img }}">
            <h1>{{ dayInfo.day[5].weather }}</h1>
         </div>
         <div class="min-max">
            <p>{{ dayInfo.day[5].min }}°</p>
            <div class="gradient-box"><div class="gradient"></div></div>
            <p class="p-max">{{ dayInfo.day[5].max }}°</p>
         </div>
      </div>
   </div>
</div>

