<div class="search-bar">
   <app-search-bar></app-search-bar>
</div>
<div class="main">
   <div class="left-half">
      <div class="container-top-half">
         <h1 class="location">{{ location }}</h1>
         <h2 class="date-time">{{ date }} | {{ time }}</h2>
         <img src="assets/cloudy-sunny.png" alt="weather-icon" class="weather-icon">
         <h1 class="temp">{{ temperature }}°</h1>
      </div>
      <div class="container-bottom-half">
         <div class="square-box">
            <div class="left-half">
               <p>Feels like </p>
               <p>Humidity </p>
               <p>UV Index </p>
            </div>
            <div class="right-half">
               <p>Air Quality </p>
               <p>Wind </p>
               <p>Poopoo </p>
            </div>
            <div class="time-slots">
               <div class="first-slot">
                  Monday
               </div>
               <div class="second-slot">
                  Monday
               </div>
               <div class="third-slot">
                  Monday
               </div>
               <div class="forth-slot">
                  Monday
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="right-half">
   </div>
</div>

