@media only screen and (max-width: 900px) {
   .main{
      display: flex;
      flex-flow: column;
   }

   .left-half{
      min-width: 100%; 
      height: fit-content;
   }


   .right-half{
      float: clear;
   }
}

@media only screen and (max-width: 450px) {
   .container-bottom-half{
      display: none;
   }
}


.search-bar{
   display: grid;
   height: 50px;

   padding: 12px 30px 0px 30px;

   background-color: #EEE3CB;
}

.main{
   padding: 0%;
   height: calc(100vh - 63px);

   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
   background-color: #EEE3CB;
}

.location{
   padding: 0;
   margin: 20px 0px 0px 0px;
   text-align: center;

   font-size: 40px;
}

.date-time{
   padding: 0;
   margin: 0;

   font-size: 14px;
}

.left-half{
   width: 50%;
   height: 100%;
   float: left;
}

.container-top-half {
   width: 100%;
   height: 45%;
   padding: 0px;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.temp{
   padding: 0;
   margin: 0;

   position: relative;
   right: -15px;
}

.weather-icon{
   width: 200px;
}

.container-bottom-half {
   width: 100%;
   height: 50%;
}

.square-box{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: 
   "blah1 blah2" 
   "time-slots time-slots";
   
   padding: 10px;
   margin: 20px;

   border-radius: 10px;
   box-shadow: -5px 5px rgb(0 0 0 / 0.2);

   height: 94%;
   background-color: #D7C0AE;
}

.square-box p{
   padding: 10px;
   margin: 0px;
   width: fit-content;
   height: fit-content;

   background-color: #9BABB8;
   border-radius: 10px;
}


.time-slots{
   position: relative;
   grid-area: time-slots;

   width: 100%;
   height: 100%;

   display: grid;

   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 10px;
}

.slot{
   font-size: 7px;
   padding: 10px;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

   background-color: #9BABB8;
   box-shadow: -5px 5px rgb(0 0 0 / 0.2);
   border-radius: 10px;
}

.slot img{
   width: 70px;
}

.slot h2{
   font-size: 20px;
   position: relative;
   right: -8px;
}

.right-half{
   width: 50%;
   height: 100%;
   float: right;
   /* background-color: blanchedalmond; */
}

.left-half-data{
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.right-half-data{
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.middle-line{
   height: calc(100% - 30px);
   top: 15px;
   position: relative;
   border-left: 1px solid black;
} 