<div class="search-bar">
   <app-search-bar></app-search-bar>
</div>
<div class="main">
   <div class="left-half">
      <div class="middle-line"></div>
      <div class="container-top-half">
         <h1 class="location">{{ location }}</h1>
         <h2 class="date-time">{{ date }} | {{ time }}</h2>
         <img src="{{ image }}" alt="weather-icon" class="weather-icon">
         <h1 class="temp">{{ temperature }}°</h1>
         <div class="weather-descriptor">{{ weather_descriptor }}</div>
      </div>
      <div class="container-bottom-half">
         <div class="square-box">
            <div class="left-half-data">
               <p>Feels like </p> <p class="value"> {{ feelsLike }}</p>
               <p>Humidity </p> <p class="value"> {{ humidity }} </p>
               <p>UV Index </p> <p class="value"> {{ uvIndex }} </p>
            </div>
            <div class="right-half-data">
               <p>Visibility </p> <p class="value"> {{ visibility }} </p>
               <p>Wind </p> <p class="value"> {{ wind }} </p>
               <p>Precipitation </p> <p class="value"> {{ precipitation }} </p>
            </div>
            <div class="time-slots">
               <div class="slot">
                  <h1>Now</h1>
                  <img src="{{ image }}" alt="weather-icon">
                  <h2>{{ temperature }}°</h2>
               </div>
               <div class="slot">
                  <h1>{{ hour1.time }}</h1>
                  <img src="{{ hour1.img }}" alt="weather-icon">
                  <h2>{{ hour1.weather }}°</h2>
               </div>
               <div class="slot">
                  <h1>{{ hour2.time }}</h1>
                  <img src="{{ hour2.img }}" alt="weather-icon">
                  <h2>{{ hour2.weather }}°</h2>
               </div>
               <div class="slot">
                  <h1>{{ hour3.time }}</h1>
                  <img src="{{ hour3.img }}" alt="weather-icon">
                  <h2>{{ hour3.weather }}°</h2>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="right-half">
      <!-- day 1 -->
      <div class="day-slot">
         <div class="date-time">
            <p>{{ day1.date }}</p>
            <img src="{{ day1.img }}">
            <h1>{{ day1.weather }}</h1>
         </div>
         <div class="min-max">
            <p>{{ day1.min }}</p>
            <div class="gradient-box"><div class="gradient"></div></div>
            <p>{{ day1.max }}</p>
         </div>
      </div>
      <!-- day 2 -->
      <div class="day-slot">
         <div class="date-time">
            <p>{{ day2.date }}</p>
            <img src="{{ day2.img }}">
            <h1>{{ day2.weather }}</h1>
         </div>
         <div class="min-max">
            <p>{{ day2.min }}</p>
            <div class="gradient-box"><div class="gradient"></div></div>
            <p>{{ day2.max }}</p>
         </div>
      </div>
      <!-- day 3 -->
      <div class="day-slot">
         <div class="date-time">
            <p>{{ day3.date }}</p>
            <img src="{{ day3.img }}">
            <h1>{{ day3.weather }}</h1>
         </div>
         <div class="min-max">
            <p>{{ day3.min }}</p>
            <div class="gradient-box"><div class="gradient"></div></div>
            <p>{{ day3.max }}</p>
         </div>
      </div>
      <!-- day 4 -->
      <div class="day-slot">
         <div class="date-time">
            <p>{{ day4.date }}</p>
            <img src="{{ day4.img }}">
            <h1>{{ day4.weather }}</h1>
         </div>
         <div class="min-max">
            <p>{{ day4.min }}</p>
            <div class="gradient-box"><div class="gradient"></div></div>
            <p>{{ day4.max }}</p>
         </div>
      </div>
      <!-- day 5 -->
      <div class="day-slot">
         <div class="date-time">
            <p>{{ day5.date }}</p>
            <img src="{{ day5.img }}">
            <h1>{{ day5.weather }}</h1>
         </div>
         <div class="min-max">
            <p>{{ day5.min }}</p>
            <div class="gradient-box"><div class="gradient"></div></div>
            <p>{{ day5.max }}</p>
         </div>
      </div>
      <!-- day 6 -->
      <div class="day-slot">
         <div class="date-time">
            <p>{{ day6.date }}</p>
            <img src="{{ day6.img }}">
            <h1>{{ day6.weather }}</h1>
         </div>
         <div class="min-max">
            <p>{{ day6.min }}</p>
            <div class="gradient-box"><div class="gradient"></div></div>
            <p>{{ day6.max }}</p>
         </div>
      </div>
   </div>
</div>

