@media only screen and (max-width: 900px) {
   .main{
      display: flex;
      flex-flow: column;
   }

   .main .left-half{
      min-width: 100%; 
      min-height: fit-content;
   }

   .main .right-half{
      float: clear;
      min-height: 100%;
      min-width: 100%; 
      min-height: fit-content;
   }

   .middle-line{
      display: none;
   }

   .min-max .gradient-box{
      padding: 2.9rem 1rem 2.9rem 1rem;
   }
}

@media only screen and (max-width: 450px) {
   .left-half-data {
      gap: .5rem;
      height: 100%;
   }

   .left-half-data p{
      align-self: center;
   }

   .right-half-data {
      gap: .5rem;
      height: 100%;
   }

   .right-half-data p{
      align-self: center;
   }  


   .container-bottom-half .square-box{
      font-size: .8rem;
   }

   .container-bottom-half .square-box{
      grid-template-rows: auto 1fr;
      gap: .5rem;
   }

   .square-box .time-slots{
      height: fit-content;
   }

   .day-slot .min-max .gradient-box{
      padding: 3.2rem 1rem 3.2rem 1rem;
   }
}


.search-bar{
   display: grid;
   height: 85%;

   padding: 12px 10px 0px 10px;
}

.main{
   padding: 0%;
   min-height: 100%;

   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.location{
   padding: 0;
   margin: 20px 0px 0px 0px;
   text-align: center;

   font-size: 40px;
}

.date-time{
   padding: 0;
   margin: 0;

   font-size: 14px;
}

.left-half{
   width: 50%;
   min-height: 100%;
   float: left;
}

.container-top-half {
   width: 100%;
   min-height: 30%;
   padding: 0px;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.temp{
   padding: 0;
   margin: 0;

   position: relative;
   right: -15px;
}

.weather-icon{
   width: 200px;
}

.container-bottom-half {
   width: 100%;
   min-height: fit-content;
}

.square-box{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: 
   "blah1 blah2" 
   "time-slots time-slots";
   
   padding: 10px;
   margin: 20px;

   border-radius: 10px;
   box-shadow: -5px 5px rgb(0 0 0 / 0.2);

   min-height: 94%;
   background-color: #D7C0AE;
}

.square-box p{
   padding: 10px;
   margin: 0px;
   width: fit-content;
   height: fit-content;
   box-shadow: -5px 5px rgb(0 0 0 / 0.2);

   background-color: #9BABB8;
   border-radius: 10px;
}


.time-slots{
   position: relative;
   grid-area: time-slots;
   padding: .3rem;

   width: 100%;
   height: fit-content;

   display: grid;

   overflow-x: auto;
   white-space: nowrap;

   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: 1fr;
   grid-auto-flow: column;
   gap: 10px;
}

.time-slots::-webkit-scrollbar {
   display: none;
}

.slot{
   font-size: 7px;
   padding: 10px;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;

   background-color: #9BABB8;
   box-shadow: -5px 5px rgb(0 0 0 / 0.2);
   border-radius: 10px;
}

.slot img{
   width: 70px;
}

.slot h2{
   font-size: 20px;
   position: relative;
   right: -8px;
}

.right-half{
   width: 50%;
   min-height: 100%;
   float: right;
   /* background-color: blanchedalmond; */

   display: grid;
   grid-auto-flow: row;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

}

.left-half-data{
   min-width: 50%;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.right-half-data{
   min-width: 50%;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.middle-line{
   border-left: 1px solid black;
   top: 4rem;
   height: 48rem;
   position:absolute;
   left: 50%;
} 

.day-slot{
   padding: 0px 20px 0px 20px;
   margin: 0px 15px 15px 15px;

   border-radius: 10px;
   box-shadow: -5px 5px rgb(0 0 0 / 0.2);

   background-color: #D7C0AE;

   display: grid;
   grid-template-columns: 1fr 5fr;
}

.day-slot img{
   width: 3.5rem;
}

.date-time {
   padding: 0rem .5rem 0rem .5rem;
   font-size: .9rem;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}


.date-time p{
   padding: 0rem;
   margin-bottom: 0px;
}

.date-time h1{
   padding: 0rem;
   margin-bottom: 0px;
   font-size: .6rem;
}


.min-max{
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: 1fr 10fr 1fr;
}


.min-max p{
   margin: 0px;
   width: 100%;
   padding: 0;

   position: relative;
   left:20px;

   display: flex;
   align-items: center;
   justify-content: center;
}

.min-max .p-max{
   position: relative;
   left: -11px;
}

.gradient-box{
   padding: 3rem 1rem 3rem 1rem;
}

.gradient{
   min-width: 100%;
   min-height: 100%;
   background: linear-gradient(to left, #9BABB8, #7A7F82);
   border-radius: .5rem;
}