<div class="container" id="container-definer">
    <div class="box">   
        <button class="button" (click)="windowSwitch('home')"><img src="../../assets/icons/home-icon.png" alt="Home"></button> 
        <button class="button" (click)="windowSwitch('alert')"><img src="../../assets/icons/alert.png" alt="Alert"></button> 
        <button class="button" (click)="windowSwitch('map')"><img src="../../assets/icons/map.png" alt="Alert"></button> 
        <button class="setting-button" (click)="windowSwitch('setting')"><img src="../../assets/icons/setting-icon.png" alt="Setting"></button>
    </div>
</div>
