/* You can add global styles to this file, and also import other style files */
@media only screen and (max-width: 900px) {
    .body-class{
        flex-direction: column !important;
    }

   .body-class .nav-bar{
        width: 100%;
    }
}

body{
    min-height: 50rem;
    height: 100%;
    margin: 0;

    padding: 1.25rem;
    background-color: ghostwhite;
}

.body-class{
    display: flex;
    flex-direction: row;

    position: relative;
    left: -110%;

    padding: 0;
    margin: 0;

    box-shadow: -.5rem .5rem rgb(0 0 0 / 0.2);
    background-image: linear-gradient(to top, #8fb9f8, #8aaffb, #8ba5fd, #8f99fd, #988cfb);
}

.body-class-present{
    transition: 3s;
    left: 0;
    border-radius: 1rem;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 0;
    margin: 0;

    border-radius: 1rem;
    background-image: linear-gradient(to top, #8fb9f8, #8aaffb, #8ba5fd, #8f99fd, #988cfb);
    color: aliceblue;
}

 .nav-bar{
    width: fit-content;
 }