/* You can add global styles to this file, and also import other style files */

html{
    min-height: 100vh;
}

body{
    padding: 0;
    margin: 0;
}

.body-class{
    display: grid;
    min-height: 100vh;

    padding: 0;
    margin: 0;

    background-image: linear-gradient(to top, #eee3cb, #eadbbe, #e7d3b1, #e4caa5, #e1c299);
 }